body{
  font-size: 16px;
  color: blak;
  background-color: #ECECEC;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
#header-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  height: 50px;
}


.nav-list {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.nav-list a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 14px 16px;
  color: white;
}

.nav-list a:hover {
  background-color: #111;
}

#main {
  
}


h1 {
  shape-margin: 120px;
}
