body{
  font-size: 16px;
  color: black;
  background-color: #ECECEC;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
#header-nav {
  background-color: #252525;
  height: 3.5em;
  border-radius: 0;
  border: 0;
}

.nav a{
  color: white;
}

.nav {

}

.nav a:hover {
  background-color: gray;
  border: 0;
  border-radius: 0;
}

#main-content {
  color: black;
  font-size: 16px;
  margin-left: 0;
  border-radius: 0;
  border: 0;
  margin-left: 24%;
  margin-top: 9%;
}


#main-content .container {
  color: #A9A9A9;
  margin-left: -1.4%;
}

#main-content .p1 {
  margin-top: 2%;
  margin-right: 25%;
  font-size: 17px;
  text-align: justify;
}

#main-content .p2 {
  margin-top: 2%;
  margin-right: 25%;
  font-size: 17px;
  text-align: justify;
}
